<div class="container-foro">
{{#each posts}}
    
<div class="conatiner-post">
    <h3><b>Titulo del Post: </b>{{this.title}}</h3>
    <p><b>Contenido del Post: </b>{{this.content}}</p>
    <p><b>Author:</b> {{this.User.username}}</p>
    <p>Fecha del post: {{ formatDate this.createdAt "DD/MM/YYYY"}}</p>
    {{#if isOwner}}
    <form action="/post/delete/{{this.id}}?_method=DELETE" method="post">
    <button type="submit">Delete</button>
    </form>
     {{/if}}
</div >
{{/each}}
</div>